/* :root{

    
} */


.debug{
    border: 1px solid red;
}


.wrapper{
    width: 100%;
    height: 100vh;
    background-color: #7fffd4;

}

header,footer{
    width: 100%;
    height: 80px;
    background-color: white;
}

main{
    
    height: calc(100% - 160px);


}


.squarecontain{
    width: 500px;
    height: 500px;
}


.square{
    width: calc(100% /10);
    height: calc(100% / 10);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

